<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1062034727405-rg4s42ph34tsvoal4rbt6qqnk1qvua0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062034727405-rg4s42ph34tsvoal4rbt6qqnk1qvua0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDQKLVGA8_mm-rPMv5GNmkoOZuclUmIQwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1062034727405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TaskMePietroSette.TaskMe</string>
	<key>PROJECT_ID</key>
	<string>taskme-e6bad</string>
	<key>STORAGE_BUCKET</key>
	<string>taskme-e6bad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062034727405:ios:2956bdfe9a3480a2</string>
	<key>DATABASE_URL</key>
	<string>https://taskme-e6bad.firebaseio.com</string>
</dict>
</plist>